*
{
    margin: 0;
    padding: 0;
}

.body
{
    background-color: rgb(3 13 41);
    overflow: hidden;
}
.body h2
{
    font-size: 4rem;
    color: rgb(3 13 41);
    text-align: center;
    /* border: 2px solid rgb(80, 7, 7); */
    /* background-color: linear-gradient(to right,rgb(108, 49, 49),rgb(241, 238, 168)); */
}
.icon1 a
{
position: absolute;
top: 3%;
right: 3%;
font-size: 3rem;
color: rgb(0, 63, 63);
}
.icon1:hover{
    color: rgb(16, 82, 98);
}
.heading
{
    background: linear-gradient(to right,rgb(253 226 249),rgb(0, 236, 208));
    height: 6rem;
    font-family: 'Diplomata SC', cursive;
}
.body h3{
    font-size: 2rem;
    color: rgb(42, 229, 254);
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    font-family: 'Hanalei Fill', cursive;
}
.body h3:hover{
    transform: scale(1.1);
    color: azures;
    text-decoration: overline;
}
.b2
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    margin: 3rem;
}
.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img
{
    width: 100%;
    height: 25rem;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer
{
    width: 100%;
    height: 0px;
    
    background: linear-gradient(to right,rgb(253 226 249),rgb(0, 236, 208));
    /* opacity: initial; */
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    text-align: center;
    font-size: 13px;
    transition: height 0.5s;
    font-family: 'IBM Plex Serif', serif;
}
.layer h3
{
    font-weight: 500;
    margin-bottom: 20px;
    color: black;
}

.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;

}
.clickme{
    border: 1px solid rgb(19, 2, 96);
    background-color: #bccad8;
    padding: 0.2rem;
    font-size: 1rem;
    color:rgb(9, 9, 38);
    text-decoration: none;
    border-radius: 0.4rem;

}
.clickme:hover{
  background-color: rgb(8, 8, 74);
  color: blanchedalmond;
}
@media(max-width:75rem){
    .heading{
        height: 5rem;
    }
    .body h2{
        font-size: 2rem;
    }
    .body h3{
        font-size: 2rem;
        margin: 1rem;
    }
    .b2{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        margin: 1rem;
    }
    .work{
        border-radius: 25px;
   }
   .icon1 a
  {
position: absolute;
top: 2%;
right: 3%;
font-size: 2rem;
color: rgb(0, 8, 39);
}
}